# Managed by cmdb_network_setup. Other Netplan files are left unchanged.
network:
  version: 2
  ethernets:
{% for port in cmdb_network_ports %}
    {{ port.connection | to_json }}:
      renderer: networkd
      match:
{% if port.mac | lower in cmdb_netplan_veth_macs %}
        name: {{ port.name | to_json }}
{% else %}
        macaddress: {{ port.mac | lower | to_json }}
{% endif %}
      dhcp4: false
      dhcp6: false
      accept-ra: false
      link-local: []
      addresses:
        - {{ (port.ip_address ~ '/' ~ port.ip_mask) | to_json }}
{% endfor %}
